<div id="<%= dom_id pilet %>">
  <p>
    <strong>Name:</strong>
    <%= pilet.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pilet.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pilet.age %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= pilet.company %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pilet.address %>
  </p>

</div>
