<p style="color: green"><%= notice %></p>

<%= render @pilet %>
<img src="/home/ongraph/Downloads" alt="Girl in a jacket" width="500px" height="600px">
<div>
  <%= link_to "Edit this pilet", edit_pilet_path(@pilet) %> |
  <%= link_to "Back to pilets", pilets_path %>

  <%= button_to "Destroy this pilet", @pilet, method: :delete %>
</div>
