<h2> Edit User </h2>

<%= form_tag("/myusers/update/#{@myusers.id}", :method => "post") do %>

   Name <%= text_field_tag(:name) %>
   Email id<%= email_field_tag(:email) %>
   <br>
   Address<%= text_area_tag(:address)%>
   <%= submit_tag("Edit Done") %>
  
  
<% end %>