<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    border: 3px solid black;
    background-color: lightgray;
    padding: 8px;
  }
  td {
    border: 3px solid black;
    padding: 8px;
  }
  tr {
    border-bottom: 1px solid black;
  }
</style>

<table style="background-color: skyblue;">
  <tr>
    <th>Name</th>
    <th>Email</th>
     <th>Information</th>
     <th> Edit </th>
     <th>Delete</th>
  </tr>
  <% @myusers.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>


  <td><%= link_to "View", "/myusers/#{user.id}" %> </td>
  
  <td><%= link_to "Edit", "/myusers/edit/#{user.id}" %> </td>

  <td><%= link_to "Delete", "/myusers/delete/#{user.id}" %> </td>


    </tr>
  <% end %>
</table>
