<%= form_with model: @myusers do |form| %>
  <div>
    <%= form.label :Username %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :User_Email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit "Create Myuser" %>
  </div>
<% end %>
