<h1>This is a edit form</h1>

<%= form_with model: @system do |form| %>
  <% if @system.errors.any? %>
    <% @system.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :s_name %><br>
    <%= form.text_field :s_name %>
  </div>

  <div>
    <%= form.label :s_year %><br>
    <%= form.text_field :s_year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'back' ,systems_path %>