<h1 style="text-align: center;">Listing Systems</h1><br>
<%= link_to 'NEW SYSTEM ADD', new_system_path, style: "color: red; display: block; text-align: center;" %><br>


<style>
  table {
    border-collapse: collapse;
    margin: 0px; 
    width: 100%; 
  }

  th, td {
    border: 2px solid black;
    padding: 15px;
    text-align: center; 
  }

  th {
    background-color: lightgray;
  }
  
  h1 {
    color: blue;
  }

  p {
    color: red;
  }
</style>


<table style="margin: 0 auto;">
  <thead>
    <tr>
      <th>Name</th>
      <th>DOC</th>
      <th>FAV_SYSTEM</th>
      <th>DESCRIPTION</th>
      <th>FIELDS</th>
      <th colspan ="3">Action  </th>
    </tr>
  </thead>
  <tbody style="background-color: #FBB917;">
    
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.s_name %></td>
        <td><%= system.s_year %></td>
        <td><%= system.fav_system %></td>
        <td><%= system.desciption %></td>
        <td><%= system.your_field.reject(&:blank?) %></td>
        <td><%= link_to 'VIEW', system, style: 'color: green;' %></td>
        <td><%= link_to 'EDIT', edit_system_path(system), style: 'color: blue;' %></td>
        <td><%= link_to 'DELETE', destroy_system_path(system), style: 'color: red;', data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
