<h1>Listing Systems</h1><br>
<%= link_to 'New System', new_system_path, style: "color: red;" %>

<style>
  table {
    border-collapse: collapse;
  }

  th, td {
    border: 2px solid red;
    padding: 8px;
  }
 
  th {
    background-color: lightgray;
  }
  h1 {
    color: blue;
  }

  p {
    color: red;
  }
</style>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>DOC</th>
      <th>FAV_SYSTEM</th>
      <th colspan ="3">Action  </th>
    </tr>
  </thead>
  <tbody style="background-color: green;">
    
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.s_name %></td>
        <td><%= system.s_year %></td>
        <td><%= system.fav_system %></td>
        <td><%= link_to 'view',system%></td>
        <td><%= link_to 'edit',edit_system_path(system)%></td>
        <td><%= link_to 'Destroy', destroy_system_path(system), data: { "turbo-method": :delete ,turbo_confirm: "Are you sure?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
