<h1 style="color: red;">This is a form  </h1>

<%= form_for @system do |form| %>
  <% if @system.errors.any? %>
    <% @system.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :system_name %><br>
    <%= form.text_field :s_name %>
  </div>

  <div>
    <%= form.label :system_year %><br>
    <%= form.text_field :s_year %>
  </div>
  <div>
    <%= form.label :desciption %><br>
    <%= form.text_field :desciption %>
  </div>
  
  <h3>Select FAV_SYSTEM</h3>
  <div>
     <%= check_box_tag "fav_system[]", "apple" %>
      Apple mac
     <%= check_box_tag "fav_system[]", "android" %>
      Android
     <%= check_box_tag "fav_system[]", "linex" %>
      Linex
     <%= check_box_tag "fav_system[]", "Mircosoft" %>
      Microsoft
    </div> <br>
  <div>
    <%= form.submit %>  
  </div><br>
<% end %>
  <%= link_to 'BACK' ,systems_path %>